In [13]:
from datetime import *
import investpy
import pandas as pd
from ta import add_all_ta_features
from ta.utils import dropna

def five_years_before():
    five_years = (datetime.now() - timedelta(days=5*365)).strftime("%d/%m/%Y")
    return five_years

def get_today():
    return datetime.now().strftime("%d/%m/%Y")

def generate_stock_csv(stock, stock_country, start_date, end_date):
    print(stock, stock_country, start_date, end_date)
    df = investpy.get_stock_historical_data(stock=stock, country=stock_country, from_date=start_date, to_date=end_date)
    file_name = stock
    print('stock', stock, "created successfully")
    df.to_csv('stocks\\' +file_name + '.csv')
    
def generate_index_csv(index, index_country, start_date, end_date):
    df = investpy.get_index_historical_data(index=index, country=index_country, from_date=start_date, to_date=end_date)
    file_name = index
    print('index', index, "created successfully")
    df.to_csv('indices\\' +file_name + '.csv')
#     print(file_name, "created successfully", stock)
#     df.to_csv(file_name + '.csv')

In [4]:
def stock_operator():
    data = pd.read_csv('stockBook.csv')
    list_of_stocks = data['StockId']

    for stock in list_of_stocks:
        search_country = investpy.search_quotes(text=stock, products=['stocks'], n_results=1)
        if stock=='RELI':
            generate_stock_csv(stock, 'india', five_years_before(), get_today())
        else:
            generate_stock_csv(stock, search_country.country, five_years_before(), get_today())

In [5]:
def index_operator():
    data = pd.read_csv('indexBook.csv')
    list_of_indexs = data['IndexName']

    for index in list_of_indexs:
        search_country = investpy.search_quotes(text=index, products=['indices'], n_results=1)
        generate_index_csv(index, search_country.country, five_years_before(), get_today())

In [7]:
def apply_ta():
    folders = ['stocks', 'indices']
    for folder in folders:
        files = os.listdir(folder)
        for file in files:
            try:
                df = pd.read_csv(folder + '/' + file, sep=',')
                df = dropna(df)
                df = add_all_ta_features(df, open="Open", high="High", low="Low", close="Close", volume="Volume", fillna=True)
                df.to_csv(folder + '/' + file)
            except:
                print(folder, "ERROR", file)

In [125]:
from datetime import *
import os

folders = ['stocks', 'indices']

for folder in folders:
    files = os.listdir(folder)
    for file in files:
        df = pd.read_csv (folder+'/'+file, index_col=False)
        today = datetime.strptime(get_today(), "%d/%m/%Y")
        df_last_date = df.iloc[-1, df.columns.get_loc("Date")]
        last_date = datetime.strptime(df_last_date, "%Y-%m-%d")
        if last_date < today:
            start_date_unformat = last_date + timedelta(days=1)
            end_date_unformat = today - timedelta(days=1)
            start_date = start_date_unformat.strftime("%d/%m/%Y")
            end_date = end_date_unformat.strftime("%d/%m/%Y")
            file = file.replace('.csv', '')
            if start_date != end_date:
                if folder == 'stocks':
                    search_country = investpy.search_quotes(text=file, products=['stocks'], n_results=1)
                    df_result = investpy.get_stock_historical_data(stock=file, country=search_country.country, from_date=start_date, to_date=end_date)
                    df.append(df_result).to_csv(f'{folder}\\' +file + '.csv')
                else:
                    search_country = investpy.search_quotes(text=file, products=['indices'], n_results=1)
                    df_result = investpy.get_index_historical_data(index=file, country=search_country.country, from_date=start_date, to_date=end_date)
                    df_result.set_index(col, append=True)
                    df.append(df_result).to_csv(f'{folder}\\' +file + '.csv')
            else:
                print(f'start_date and end_date are same for {file}')

start_date and end_date are same for DLF
start_date and end_date are same for ICBK
start_date and end_date are same for RELI
start_date and end_date are same for TISC

In [110]:
stock_operator()

ICBK india 18/07/2017 17/07/2022
stock ICBK created successfully
RELI india 18/07/2017 17/07/2022
stock RELI created successfully
DLF india 18/07/2017 17/07/2022
stock DLF created successfully
BRTI india 18/07/2017 17/07/2022
stock BRTI created successfully
TISC india 18/07/2017 17/07/2022
stock TISC created successfully

In [120]:
df = investpy.get_stock_historical_data(stock='BRTI', country='india', from_date='15/07/2017', to_date='10/07/2022')
file_name = 'BRTI'
print('stock', 'BRTI', "created successfully")
df.to_csv('stocks\\' +file_name + '.csv')

stock BRTI created successfully

In [60]:
def save_csv(folder, file):
    df.to_csv(f'{folder}\\' +file + '.csv', index = False)

            Date    Open    High     Low   Close    Volume Currency
0     2017-07-18  503.57  513.91  503.08  508.77   3613060      INR
1     2017-07-19  509.40  516.94  508.81  515.90   3448965      INR
2     2017-07-20  507.86  509.17  502.40  503.26   3422252      INR
3     2017-07-21  503.98  504.02  491.02  499.69   3458466      INR
4     2017-07-24  500.73  500.73  494.36  495.40   2267624      INR
...          ...     ...     ...     ...     ...       ...      ...
1233  2022-07-11  885.20  929.00  875.05  912.75  15019334      INR
1234  2022-07-12  904.90  915.95  893.60  902.10  10017505      INR
1235  2022-07-13  905.95  914.20  900.65  904.85   7013511      INR
1236  2022-07-14  910.00  911.00  895.00  908.00   7449858      INR
1237  2022-07-15  905.00  910.30  877.50  883.80   8125351      INR

[1238 rows x 7 columns]